@keyframes bounceInStop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    70% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bounce-text-container {
    .character {
        font-family: 'JasonHandwriting3', sans-serif;
        display: inline-block;
        opacity: 0;
        
        &.animate {
            animation: bounceInStop 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }
        
        // 空格的處理
        &.space {
            width: 0.5em;
        }
    }
}