@font-face {
    font-family: 'JasonHandwriting3';
    src: url('@fonts/JasonHandwriting3.woff2') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'GongFan';
    src: url('@fonts/ZuiShenDeYeLiZuiWenRou-2.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.root {
    width: 100%;
}
html {
    background-color: #f7f8f9;
    scroll-behavior: smooth;
    width: 100%;
}
body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    margin: 0;
    width: 100%;
    &::-webkit-scrollbar {
        width: 0px;
    }
    scrollbar-width: none;
}
@media (hover: none) and (pointer: coarse) {
    body {
        touch-action: pan-y;
    }
}
/*
 * This is for global css usage.
 */

*,
*::after,
*::before {
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    outline: none;
}

body,
input,
select,
textarea,
button {
    -webkit-font-smoothing: antialiased;
}
html,
#root {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    &:global(.no-scroll) {
        position: fixed;
        overflow-y: scroll;
    }
}

textarea,
input {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    border-radius: 0;

    &::placeholder {
        color: var(--light-gray);
    }
}

input {
    width: 100%;
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--black);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-appearance: none;
        margin: 0;
    }

    &:-webkit-autofill {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        box-shadow: 0 0 0 30px #fff inset;
    }

    &[type='number'] {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -moz-appearance: textfield;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
